/* === rcmd-menu-box ================================== */
.rcmd-menu-box {
	> .menus {
		> h1 {
			font-size: 16px;
			font-weight: bold;
			color: var(--color-base-8);

			width: 100%;
			max-width: 992px;
			border-bottom: 2px solid var(--color-main-1);
			padding-bottom: 15px;
		}

		.menu-list {
			margin-top: 30px;
		}
	}
}

@media screen and (min-width: 768px) {
	.rcmd-menu-box {
		flex-direction: row;
	}
}
